
<article >
    <mat-card>
    <h3>Current Condition</h3>
        <h4 style="text-transform: uppercase;"> {{ _weather.data.request[0].query }}</h4>
        <h4 > {{ _weather.data.current_condition[0].weatherDesc[0].value }}</h4>
        <p >Wind speed (meter/sec): {{ _weather.data.current_condition[0].windspeedKmph }}</p>
        <span class="temperature">Temperature (celsius): {{ _weather.data.current_condition[0].temp_C }} </span>
        <p class="temperature">Feels like Temperature (celsius): {{ _weather.data.current_condition[0].FeelsLikeC }}</p>
        <p >Cloud Cover: {{ _weather.data.current_condition[0].cloudcover }}</p>
        <p >Humidity (meter/sec): {{ _weather.data.current_condition[0].humidity }}</p>
        <p >Observation time: {{ _weather.data.current_condition[0].observation_time }}</p>
        <p >Pressure: {{ _weather.data.current_condition[0].pressure }}</p>
        <p >Wind speed Miles: {{ _weather.data.current_condition[0].windspeedMiles }}</p>
        <p > <img [src]="_weather.data.current_condition[0].weatherIconUrl[0].value"/></p>
    </mat-card>
</article>

