<section class="weather-search" class="form-group">
        <mat-tab-group>
                <mat-tab>
                  <ng-template mat-tab-label>
                    Current User Location
                  </ng-template>          
                  <article *ngIf="weatherForecastDataUser !== undefined && weatherForecastDataUser.data !== undefined">
                          <h3>Current Condition</h3>
                          <div >
                              <h2 style="text-transform: uppercase;"> {{ weatherForecastDataUser.data.request[0].query }}</h2>
                              <h3 > {{ weatherForecastDataUser.data.current_condition[0].weatherDesc[0].value }}</h3>
                              <p >Wind speed (meter/sec): {{ weatherForecastDataUser.data.current_condition[0].windspeedKmph }}</p>
                              <span class="temperature">Temperature (celsius): {{ weatherForecastDataUser.data.current_condition[0].temp_C }} </span>
                              <p class="temperature">Feels like Temperature (celsius): {{ weatherForecastDataUser.data.current_condition[0].FeelsLikeC }}</p>
                              <p >Cloud Cover: {{ weatherForecastDataUser.data.current_condition[0].cloudcover }}</p>
                              <p >Humidity (meter/sec): {{ weatherForecastDataUser.data.current_condition[0].humidity }}</p>
                              <p >Observation time: {{ weatherForecastDataUser.data.current_condition[0].observation_time }}</p>
                              <p >Pressure: {{ weatherForecastDataUser.data.current_condition[0].pressure }}</p>
                              <p >Wind speed Miles: {{ weatherForecastDataUser.data.current_condition[0].windspeedMiles }}</p>
                              <p > <img [src]="weatherForecastDataUser.data.current_condition[0].weatherIconUrl[0].value"/></p>
                          </div>
                  </article>         
                  <article *ngIf="weatherForecastDataUser !== undefined && weatherForecastDataUser.data !== undefined">
                          <h3>Weather Forecast for the next 5 days</h3>
                          <h2 style="text-transform: uppercase;"> {{ weatherForecastDataUser.data.request[0].query }}</h2>
                          <div *ngFor="let weather of weatherForecastDataUser.data.weather" >
                              <mat-card>
                                      <mat-card-title>Astronomy</mat-card-title>
                                      <mat-card-subtitle>
                                              <span class="row">Date : {{weather.date}}</span>
                                              <span class="row temperature">Max Temperature (celsius): {{ weather.maxtempC }} </span>
                                              <span class="row temperature">Min Temperature (celsius): {{ weather.mintempC }} </span>
                                      </mat-card-subtitle>
                                      <mat-card-content>
                                          <div class="row">sunrise : {{weather.astronomy[0].sunrise}}</div>
                                          <div class="row">sunset : {{weather.astronomy[0].sunset}}</div>
                                          <div class="row">moonrise : {{weather.astronomy[0].moonrise}}</div>
                                          <div class="row">moonset : {{weather.astronomy[0].moonset}}</div>
                                          <div class="row">moon phase : {{weather.astronomy[0].moon_phase}}</div>
                                      </mat-card-content>
                                      <mat-card-footer>
                                              <mat-tab-group>
                                                      <mat-tab *ngFor="let hour of weather.hourly">
                                                              <ng-template mat-tab-label>
                                                                      <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
                                                                      {{hour.time}} Hour
                                                              </ng-template>
                                                              <h3 > {{ hour.weatherDesc[0].value }}</h3>
                                                              <p >Wind speed (meter/sec): {{ hour.windspeedKmph }}</p>
                                                              <span class="temperature">Temperature (celsius): {{ hour.temp_C }} </span>
                                                              <p class="temperature">Feels like Temperature (celsius): {{ hour.FeelsLikeC }}</p>
                                                              <p >Cloud Cover: {{ hour.cloudcover }}</p>
                                                              <p >Humidity (meter/sec): {{ hour.humidity }}</p>
                                                              <p >Observation time: {{ hour.observation_time }}</p>
                                                              <p >Pressure: {{ hour.pressure }}</p>
                                                              <p >Wind speed Miles: {{ hour.windspeedMiles }}</p>
                                                              <p >chance of rain: {{ hour.chanceofrain }}</p>
                                                              <p >chance of remdry: {{ hour.chanceofremdry }}</p>
                                                              <p >chance of windy: {{ hour.chanceofwindy }}</p>
                                                              <p >chance of overcast: {{ hour.chanceofovercast }}</p>
                                                              <p >chance of sunshine: {{ hour.chanceofsunshine }}</p>
                                                              <p >chance of frost: {{ hour.chanceoffrost }}</p>
                                                              <p >chance of hightemp: {{ hour.chanceofhightemp }}</p>
                                                              <p >chance of fog: {{ hour.chanceoffog }}</p>
                                                              <p >chance of snow: {{ hour.chanceofsnow }}</p>
                                                              <p >chance of thunder: {{ hour.chanceofthunder }}</p>
                                                              <p > <img [src]="hour.weatherIconUrl[0].value"/></p>
                                                      </mat-tab>
                                              </mat-tab-group>
                                      </mat-card-footer>
                              </mat-card>
                          </div>
                  </article>
                </mat-tab>
              
                <mat-tab>
                  <ng-template mat-tab-label>
                    Search by City
                  </ng-template>
                  <form   >
                     <div class="form-group">
                      <label for="city">City Name:</label>
                      <!-- <input ngControl="location" class="form-control" type="text" placeholder="Enter city name" id="city" (input)="onSearchLocation(input.value)" required #input > -->
                      <ng4geo-autocomplete [userSettings]="userSettings" id="address" class="address" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
                      <!-- two ways data binding through [(ngModel)]  -->
                      <input class="form-control" type="text" placeholder="Enter city name" disabled id="city" [(ngModel)] ="cityName" name="cityname" (input)="onSearchLocationWithEvent($event)">  
      
                      </div>
                      <button class="btn btn-primary" [disabled]="disabledForecastButton" (click) ="onSubmitDatabinding()" type="submit">Forecast</button>         
                  </form>          
                  <article *ngIf="weatherForecastData !== undefined && weatherForecastData.data !== undefined">
                          <h3>Current Condition</h3>
                          <div >
                              <h2 style="text-transform: uppercase;"> {{ weatherForecastData.data.request[0].query }}</h2>
                              <h3 > {{ weatherForecastData.data.current_condition[0].weatherDesc[0].value }}</h3>
                              <p >Wind speed (meter/sec): {{ weatherForecastData.data.current_condition[0].windspeedKmph }}</p>
                              <span class="temperature">Temperature (celsius): {{ weatherForecastData.data.current_condition[0].temp_C }} </span>
                              <p class="temperature">Feels like Temperature (celsius): {{ weatherForecastData.data.current_condition[0].FeelsLikeC }}</p>
                              <p >Cloud Cover: {{ weatherForecastData.data.current_condition[0].cloudcover }}</p>
                              <p >Humidity (meter/sec): {{ weatherForecastData.data.current_condition[0].humidity }}</p>
                              <p >Observation time: {{ weatherForecastData.data.current_condition[0].observation_time }}</p>
                              <p >Pressure: {{ weatherForecastData.data.current_condition[0].pressure }}</p>
                              <p >Wind speed Miles: {{ weatherForecastData.data.current_condition[0].windspeedMiles }}</p>
                              <p > <img [src]="weatherForecastData.data.current_condition[0].weatherIconUrl[0].value"/></p>
                          </div>
                  </article>         
                  <article *ngIf="weatherForecastData !== undefined && weatherForecastData.data !== undefined">
                          <h3>Weather Forecast for the next 5 days</h3>
                          <h2 style="text-transform: uppercase;"> {{ weatherForecastData.data.request[0].query }}</h2>
                          <div *ngFor="let weather of weatherForecastData.data.weather" >
                              <mat-card>
                                      <mat-card-title>Astronomy</mat-card-title>
                                      <mat-card-subtitle>
                                              <span class="row">Date : {{weather.date}}</span>
                                              <span class="row temperature">Max Temperature (celsius): {{ weather.maxtempC }} </span>
                                              <span class="row temperature">Min Temperature (celsius): {{ weather.mintempC }} </span>
                                      </mat-card-subtitle>
                                      <mat-card-content>
                                          <div class="row">sunrise : {{weather.astronomy[0].sunrise}}</div>
                                          <div class="row">sunset : {{weather.astronomy[0].sunset}}</div>
                                          <div class="row">moonrise : {{weather.astronomy[0].moonrise}}</div>
                                          <div class="row">moonset : {{weather.astronomy[0].moonset}}</div>
                                          <div class="row">moon phase : {{weather.astronomy[0].moon_phase}}</div>
                                      </mat-card-content>
                                      <mat-card-footer>
                                              <mat-tab-group>
                                                      <mat-tab *ngFor="let hour of weather.hourly">
                                                              <ng-template mat-tab-label>
                                                                      <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
                                                                      {{hour.time}} Hour
                                                              </ng-template>
                                                              <h3 > {{ hour.weatherDesc[0].value }}</h3>
                                                              <p >Wind speed (meter/sec): {{ hour.windspeedKmph }}</p>
                                                              <span class="temperature">Temperature (celsius): {{ hour.temp_C }} </span>
                                                              <p class="temperature">Feels like Temperature (celsius): {{ hour.FeelsLikeC }}</p>
                                                              <p >Cloud Cover: {{ hour.cloudcover }}</p>
                                                              <p >Humidity (meter/sec): {{ hour.humidity }}</p>
                                                              <p >Observation time: {{ hour.observation_time }}</p>
                                                              <p >Pressure: {{ hour.pressure }}</p>
                                                              <p >Wind speed Miles: {{ hour.windspeedMiles }}</p>
                                                              <p >chance of rain: {{ hour.chanceofrain }}</p>
                                                              <p >chance of remdry: {{ hour.chanceofremdry }}</p>
                                                              <p >chance of windy: {{ hour.chanceofwindy }}</p>
                                                              <p >chance of overcast: {{ hour.chanceofovercast }}</p>
                                                              <p >chance of sunshine: {{ hour.chanceofsunshine }}</p>
                                                              <p >chance of frost: {{ hour.chanceoffrost }}</p>
                                                              <p >chance of hightemp: {{ hour.chanceofhightemp }}</p>
                                                              <p >chance of fog: {{ hour.chanceoffog }}</p>
                                                              <p >chance of snow: {{ hour.chanceofsnow }}</p>
                                                              <p >chance of thunder: {{ hour.chanceofthunder }}</p>
                                                              <p > <img [src]="hour.weatherIconUrl[0].value"/></p>
                                                      </mat-tab>
                                              </mat-tab-group>
                                      </mat-card-footer>
                              </mat-card>
                          </div>
                  </article>
                </mat-tab> -->
        </mat-tab-group>
</section>
